h2 {
  color: var(--headers);
}

label {
  color: var(--nameEnterprise);
  font-weight: bold;
  font-size: 1.4rem;
}

p {
  color: var(--nameEnterprise);
  font-weight: 600;
  font-size: 1.2rem;
}

.form-container {
  width: 100%;
  display: grid;
  justify-content: center;
  gap: 50px;
  text-align: center;
}
.container-img {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 33rem;
  margin-top: 5rem;
}

.imagem-avatar {
  width: 28rem;
}

.containerLabel {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}


.form-section-one, .form-section-two, .form-section-three, .form-section-four {
  display: grid;
  width: 100%;
  transition: 1s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2.5rem;
}

.hover{
  display: grid;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2.5rem;
  transition: 1s;
  box-shadow: 0 0 20px var(--nameEnterprise);
}

.form-button {
  display: grid;
  justify-content: center;
}


/* Estilizando Checkbox */
span{
  display: inline-block;
  position: relative;
  margin-left: 0.5rem; 
  top: 0.2rem;
}

input[type='checkbox']::before {
  content: ' ';
  width: 1rem;
  height: 1rem;
  position: absolute;
  background-color: #fff;
  border: 1px solid #bf360c;
}
input[type='checkbox']:checked::after {
  content: ' ';
  width: 0.2rem;
  height: 0.5rem;
  margin-left: 0.3rem;
  border-color: var(--headers);
  border-style: solid;
  border-width: 0 3px 3px 0;
  position: absolute;
  transform: rotate(45deg);
}
/* ---- */

.form-button {
  width: 100%;
  display: grid;
  margin-top: 1rem;
}

input[type='button'] {
  width: 100%;
  padding: 0 1.5rem;
  height: 4rem;
  background: #33cc95;
  color: #fff;
  border-radius: 0.25rem;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  transition: filter 0.2s;
}

input[type='button']:hover {
  filter: brightness(0.9);
}


