h2 {
  color: var(--headers);
}

label {
  color: var(--nameEnterprise);
  font-weight: bold;
  font-size: 1.4rem;
}

p {
  color: var(--nameEnterprise);
  font-weight: 600;
  font-size: 1.2rem;
}

.form-container {
  width: 100%;
  display: grid;
  justify-content: center;
  gap: 50px;
  text-align: center;
}
.container-img {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 33rem;
  margin-top: 5rem;
}

.imagem-avatar {
  width: 28rem;
}

.containerLabel {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.form-section-one, .form-section-two, .form-section-three, .form-section-four {
  display: grid;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
}

/* .form-section-one:hover, .form-section-two:hover, .form-section-three:hover, .form-section-four:hover{
  transition: 1s;
  box-shadow: 0 0 10px var(--nameEnterprise);
} */

.hover{
  display: grid;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  transition: 1s;
  box-shadow: 0 0 20px var(--nameEnterprise);
}

.form-button {
  display: grid;
  justify-content: center;
}


/* @media (max-width: 1875px) {
  .form-container {
    display: grid;
    gap: 50px;
    text-align: center;
  }
}  */



