h2 {
  color: var(--headers);
}

label {
  color: var(--nameEnterprise);
  font-weight: bold;
  font-size: 1.4rem;
}

p {
  color: var(--nameEnterprise);
  font-weight: 600;
  font-size: 1.2rem;
}

/* ----------------*/

.form-container {
  width: 100%;
  display: grid;
  justify-content: center;
  gap: 3rem;
  text-align: center;
}

.container-img {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  height: 33rem;
  margin-top: 8rem;
}

.imagem-avatar {
  width: 18rem;
  margin-bottom: -10.8rem;
}

.imagem-balao {
  width: 18rem;
}

.warning-text {
  width:100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1.5rem;
}

.containerLabel {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}


.form-section-one, .form-section-two, .form-section-three, .form-section-four {
  display: grid;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem;
}

.form-section-input-text {
  display: grid;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem;
}

.form-section-input-date {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem;
}

.form-section-input-date input {
  margin-top: 1rem;
}

input[type="date"]{
  text-align: center;
  width: 10rem;
}

input[type="time"] {
  margin-left: 2rem;
  width: 10rem;
  text-align: center;
}

input[type="time"], input[type="date"]{
  height: 2.375rem;
}

.form-section-input-top {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem;
}

.form-section-input-top select {
    padding: 0.5rem;
}

.form-section-input-text input {
  width: 70%;
  margin-top: 2rem;
  border: 0;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
  transition: .2s ease-in-out;
  box-sizing: border-box;
  text-align: center;
} 

/* Estilizando Checkbox */
span{
  display: inline-block;
  position: relative;
  margin-left: 0.5rem; 
  top: 0.2rem;
}

input[type='checkbox']::before {
  content: ' ';
  width: 1rem;
  height: 1rem;
  position: absolute;
  background-color: #fff;
  border: 1px solid #bf360c;
}
input[type='checkbox']:checked::after {
  content: ' ';
  width: 0.2rem;
  height: 0.5rem;
  margin-left: 0.3rem;
  border-color: var(--headers);
  border-style: solid;
  border-width: 0 3px 3px 0;
  position: absolute;
  transform: rotate(45deg);
}
/* ---- */


/* Estilizando Botões */
.form-button {
  width: 100%;
  display: grid;
  margin-top: 1rem;
  justify-content: center;
}

.button-resume-modal {
  width: 100%;
  padding: 0 1.5rem;
  height: 4rem;
  background: #33cc95;
  color: #fff;
  border-radius: 0.25rem;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  transition: filter 0.2s;
}

.button-price-modal {
  margin-top: 1rem;
  width: 20rem;
  height: 2.5rem;
  background: #33cc95;
  color: #fff;
  border-radius: 0.25rem;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  transition: filter 0.2s;
}


input[type='button']:hover {
  filter: brightness(0.9);
}
/* ---- */

/*Estilizando Footer */

.form-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0.8rem;
  background-color: #dfecea;
  color: #3C4858;
  font-size: 0.7rem;
  height:2.5rem;
}

.form-footer a {
  color: black;
  margin-left: 1rem; 
  position: relative;
  top: 0.31rem;  
}


.form-footer a:visited {
  text-decoration: none;
}

/* ---- */

/* RESPONSIVIDADE */
@media (max-width: 1080px) {
  .form-section-one, .form-section-two, .form-section-three, .form-section-four {
    width: 30rem;
  }

  h2 {
    font-size: 1.4rem;
  }
  
  label {
    font-size: 1.2rem;
  }
  
  p {
    font-size: 1.1rem;
  }

  span{
    margin-left: 0.5rem; 
    top: -0.2rem;
  }

  input[type='checkbox']::before {
    content: ' ';
    width: 1.3rem;
    height: 1.3rem;
  }
  input[type='checkbox']:checked::after {
    content: ' ';
    width: 0.6rem;
    height: 0.6rem;
  }

  .form-footer {
    padding: 1.5rem;
  }
}

@media (max-width: 370px) {
  input[type="date"]{
    width: 13rem;
  }
  
  input[type="time"] {
    margin-left: 2rem;
    width: 10rem;
   
  }
} 



