:root {
    --background: #b4d7d0;
    --nameEnterprise: #71431f;
    --headers: #db1d29;
    --sectionCircle: #b3dbd4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ui-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}


@media (max-width: 1875px) {
  html {
    font-size: 93.75%;
  }
} 

@media (max-width: 1080px) {
  html {
    font-size: 70%;
  }
} 

@media (max-width: 480px) {
  html {
    font-size: 62.5%;
  }
  .ui-container {
    padding: 0 0.5rem;
  }
}

@media (max-width: 370px) {
  html {
    font-size: 69%;
  }
}

body, input, textarea, button  {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

button {
  cursor: pointer;
}






