.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--headers);
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0.75rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1120px;
  padding: 0 1rem;
}

.logo-empresa {
  width: 6rem;
}

.header-list {
  display: flex;
  gap: 0.5rem;
}

.header-list li {
  list-style: none;
}

.header-text h2 {
  font-size: 0.9rem;
  font-weight: 700;
  text-align: left;
  color: #fff;
}

.header-text svg {
  width: 1rem;
  position: relative;
  top: 0.2rem;
}

/* Link / React-Icons */
.div-icons {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 0.25rem;
  line-height: 1;
}

.div-icons:hover {
  transition: 1s;
  filter: brightness(1.4);
}

/*---*/

/* RESPONSIVIDADE */

@media (min-width: 768px) {
  .content-box-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo-empresa {
    width: 12rem;
  }

  .header-text h2 {
    font-size: 1.2rem;
  }

  .header-text svg {
    width: 1.4rem;
    top: 0.3rem;
  }
}

@media (min-width: 1080px) {
  .header-text h2 {
    font-size: 1.4rem;
  }

  .header-text svg {
    width: 1.6rem;
    top: 0.4rem;
  }

  .logo-empresa {
    width: 14rem;
  }
}
