.react-modal-overlay{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content{
  width: 100%;
  max-width: 576px;
  background: white;
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem;
  margin-top: 4rem;
  
}

.react-modal-close{
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: none;
  background: transparent;
  
}

.react-modal-close:hover {
  transition: filter 0.2s; 
  filter: brightness(0.8);
}

.data-container {
  color: var(--nameEnterprise);
}

.data-container h3, h1 {
  line-height: 3rem;
}

button[type='submit'] {
  width: 100%;
  padding: 0 1.5rem;
  height: 4rem;
  background: #33cc95;
  color: #fff;
  border-radius: 0.25rem;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  transition: filter 0.2s;
}

button[type='submit']:hover {
  filter: brightness(0.9);
}

@media (max-width: 1875px) {
  .react-modal-content{
    width: 90%;
    max-width: 576px;
    background: white;
    padding: 3rem;
    position: relative;
    border-radius: 0.25rem;
    margin-top: 4rem;
    font-size: 0.9rem;
  }

  .data-container h1, h3 {
    line-height: 0.5rem;
  }
  
} 



