.form-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
  position: sticky;
  bottom: 0;
  background-color: #dfecea;
  height: 2.8rem;
}

.form-footer div {
  background-color: white;
  padding: 5px;
  border-radius: 3px;
  color: var(--headers);
  font-size: 1.3rem;
}

/* Reponsividade */

@media (max-width: 1080px) {
  .form-footer {
    padding: 1.5rem;
  }
}
